*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    color: #4a4a4a;
}

body{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 60px auto 40px;
    font-family: 'ProximaNovaSB', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    grid-template-areas:    "header"
                            "main"
                            "footer";
    margin: 0;
    background: linear-gradient(135deg, #71b7e6 , #9b59b6);
    
} 


/* header ***********************************************/
header{
    grid-area: header;

}
.title{
    margin-left: 20px;
    margin-top: 20px;
    color: white;
    font-size: 25px;
    font-weight: 600;
}
/* main ***************************************************************/
main{
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenitore{
    background: white;
    max-width: 375px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
}
.title1{
    display: flex;
    justify-content: center;

    font-size: 23px;
    font-weight: 600;
    margin-bottom: 10px;
}

.opzioni{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.utente_pressed{
    width: 155px;
    height: 26px;


    border: 1px solid rgb(88, 88, 170);
    background-color: rgb(95, 107, 165);
    color: white;
    border-radius: 11px;
    padding: 0 16px;
    box-shadow: none;
    cursor: pointer;
    outline: none;
    font-size: 16px;
}
.unpressed{
    width: 155px;
    height: 26px;


    border: none;
    background-color: transparent;
    padding: 0 16px;
    box-shadow: none;
    cursor: pointer;
    outline: none;
    font-size: 16px;
}
.unpressed:hover{
    background-color:  #4a4a4a31;
    border-radius: 11px;
}
.concessionaria_pressed{
    width: 155px;
    height: 26px;


    border: 1px solid rgb(247, 186, 18);
    background-color: rgb(233, 168, 29);
    color: white;
    border-radius: 11px;
    padding: 0 16px;
    box-shadow: none;
    cursor: pointer;
    outline: none;
    font-size: 16px;
}



.informazioni{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input-box{
    margin-top: 15px;
}
.input-box input{
    width: 100%;
    height: 45px;

    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 10px;
    font-size: 16px;
}
.input-box input:focus{
    border-color: #9b59b6;

}

.bottone{
    height: 45px;
    margin-top: 15px;
}
.bottone input{
    width: 100%;
    height: 100%;
    outline: none;
    color: #ffffff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71b7e6 , #9b59b6);
}
.bottone input:hover{
    background: linear-gradient(-135deg, #71b7e6 , #9b59b6);
}

.registrazione{
    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(128, 120, 120);
    margin-top: 13px;
    font-size: 14px;
    font-weight: 600;
}


/* footer ***************************************************************/
footer{
    grid-area: footer;
}
.foot{
    margin-left: 25px;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 600;
}
.footerLine{
    border-top: 1px solid rgb(197, 197, 197);
    width: 98%;
    margin: auto;
}

/* errori *************************/
.error{
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 14px;
    font-weight: 600;

    background-color: rgba(255, 87, 87, 0.774);
    border: 1px solid rgb(255, 68, 68);
    border-radius: 3px;
    padding: 5px 0;
    margin: 13px 10px 0 10px ;
}
.error span{
    color: rgb(56, 56, 56);
}


/* altro ***************************************************************/
p{
    margin: 0;
}

a{
	text-decoration: none;
	color: inherit;
}

