/* div che contiene tutto */
.dettagli_auto{
    
    margin-top: 26px;
    margin-bottom: 10px;
    margin-left: 35px;
  
}

/* prima div con foto e logo auto *************/
.dettagli_auto_div_1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* foto auto */
.div_poster{
    width: 390px;
    height: 259px;
    
    margin-right: 60px;
    margin-bottom: 20px;
}

.div_poster img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

/* logo modello prezzo */
.div_logo_modello_prezzo{
    margin-bottom: 20px;
}

.img_logo{
    height: 60px;
}

.div_logo_modello_prezzo span{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 35px;
    display: inline-block;
    margin-top: 20px;
    font-weight: 700;
    color: #003e70;
}

#prezzo{
    color: coral;
}

#nuovo_usato{
    font-size: 23px;
    margin-top: 10px;
    font-weight: 500;
}


/* div titoli *****************************/
.div_titolo{
    display: inline-block;
    font-size: 25px;
    color: #003e70;
    margin-bottom: 16px;
    padding-bottom: 4px;

    /* linea sotto il titolo */
    border-bottom-color: coral;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-radius: 2px;
}

/* div specifiche *****************************/
.div_specifiche_1{
    max-width: 1000px;
    margin: 0 auto 24px;
    display: block;
}

.div_specifiche_2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    padding: 0 15px;

    font-size: 16px;
}
/* colonna */
.div_specifiche_colonna{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    max-width: 49.5%;
    flex-basis: 50%;

}
/* elemento */
.div_specifiche_riga_elemento{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 16px;
    margin-bottom: 4px;
    background-color: #ebebeb;

    flex-wrap: wrap;
    height: auto;
    margin-top: auto;
    flex-grow: 1;
    
}
/* nome */
.div_specifiche_nome{
    max-width: 60%;
    flex-basis: 60%;

    font-weight: 600;
    color: #1a1a1a;

    text-overflow: ellipsis;
    overflow: hidden;
    
}
/* contenuto */
.div_specifiche_contenuto{
    max-width: 40%;
    flex-basis: 40%;

    font-weight: 400;
    text-align: left;
    
}

/* div concessionaria ************************/
.div_contatti{
   
    padding: 0 16px 16px;
    margin: 0 35px 20px 0;
    box-sizing: border-box;

    border: 1px solid #E7E7E7;
    border-radius: 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
    font-size: 16px;
    
}

/* informazioni di sinistra */
.div_contatti_left{
    line-height: 1.5;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;

    margin-top: 16px;
}

.div_contatti_left.nome{
    font-weight: 600;
    color: #1a1a1a;
}
/* informazioni di destra */
.div_contatti_right{
    display: flex;
    flex-wrap: wrap;
}

.div_contatti_right_bottone{
   
    min-width: 220px;

    background-color: #FF6600;
    color: white;
    border-radius: 25px;
    border: none;
    padding: 0 16px;
    height: 50px;
    box-shadow: none;
    cursor: pointer;

    margin-top: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    outline: none;
}

.div_contatti_right_bottone:hover{
    background-color: #D95600;
}

.div_contatti_right img{
    width: 20px;
    height: 20px;
}

.div_contatti_right span{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;

    margin-left: 8px;
    font-family: Verdana, sans-serif;
}


.div_contatti_right_bottone.chiama{
    margin-right: 16px;
}

#Numero{
    display: none;
    cursor: text;
    user-select: text;
}


/* altro ***********************************/
a{
	text-decoration: none;
	color: inherit;
}



/*versione mobile */
@media only screen and (max-width: 650px){
    
	/* foto auto */
    .div_poster{
        width: 364px;
        height: 242px;
        
    }

    /* logo modello prezzo */
    .div_logo_modello_prezzo span{
        font-size: 30px;
    }
    #nuovo_usato{
        font-size: 21px;    
    }

    /* div titoli */
    .div_titolo{
        font-size: 23px;
    }

    /* div specifiche */
    .div_specifiche_2{
        font-size: 14px;
    }
    .div_specifiche_colonna{
        /* per mettere le due colonne una sopra l'altra */
        max-width: none;
        flex-basis: 100%;
    }
	
    /* div concessionaria */
    .div_contatti{
        font-size: 14px;
    }
    .div_contatti_right span{
        font-size: 14px;
    }

}

/* versione schermi grandi */
@media only screen and (min-width: 1400px){
    
	/* foto auto */
    .div_poster{
        width: 455px;
        height: 302px;
        
    }

    /* logo modello prezzo */
    .div_logo_modello_prezzo span{
        font-size: 40px;
    }
    #nuovo_usato{
        font-size: 25px;    
    }


    /* div titoli */
    .div_titolo{
        font-size: 27px;
    }

    /* div specifiche */
    .div_specifiche_1{
        /* per centrare il contenuto */
        max-width: 1300px;
    }
	
    .div_specifiche_2{
        font-size: 18px;
    }


    /* div concessionaria */
    .div_contatti{
        font-size: 16px;
    }
    .div_contatti_right span{
        font-size: 16px;
    }
}